body {
    background-color: #e6ecf0;
    margin: 0;
    --border-bottom: #e6ecf0;
    --twitter-trim: #1DA1F2;
}

.search-form-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.search-form-big input {
    width: 500px;
    line-height: 40px;
    font-size: 32px;
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid #C6E7FB;
    outline-color: #4AB3F4;
    text-align: center;
}

.search-form-big input::placeholder {
    color: rgb(151, 151, 151);
}

.search-form-big input:focus::placeholder {
    color: transparent;
}

.search-form-big button {
    cursor: pointer;
    width: 200px;
    height: 30px;
    font-size: 17px;
    color: white;
    background-color: #4AB3F4;
    border: none;
    border-radius: 2px;
}

.search-form-big button:disabled {
    opacity: 0.5;
    cursor: default;
}

.search-form-lil {
    display: inline;
    margin-left: 10px;
}

.radio-group {
    width: 500px;
}

nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-bottom);
    box-shadow: 0 0.1125rem 1rem 0 rgba(0,0,0,0.24);
}
.home-btn {
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.home-btn:hover {
    text-decoration: underline;
}

.loader {
    text-align: center;
    margin-top: 100px;
}

.select-days {
    width: 150px;
    margin-left: 10px;
}

.tweets-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 10px;
    padding-left: 0;
    list-style-type: none;
}
.tweet-meta {
    text-align: center;
    margin-top: 10px;
}
.tweet {
    padding: 15px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(128, 128, 128, 0.404);
    border-radius: 2px;
}
.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.tweet-link {
    color: black;
    text-decoration: none;
}
.tweet-link:hover {
    text-decoration: underline;
    color: var(--twitter-trim);
}